certifi==2022.12.7
chardet==3.0.4
Click==7.0
future==0.18.2
idna==2.8
mercurial==5.2.2
oauthlib==2.1.0
pybitbucket==0.12.0
requests==2.22.0
requests-oauthlib==0.8.0
simplejson==3.17.0
six==1.14.0
uritemplate==0.6
urllib3==1.25.8
voluptuous==0.11.7
